<div class="ui message">
	<div class="summary">

		<% if !message.user.nil? %>
	<strong>
		<em><%= message.user.username %></em>
	</strong>: <%= message.body %>
			<small class="created">&nbsp&nbsp<%= time_ago_in_words(message.created_at) %>&nbsp ago</small>
		<% end %>



</div>
</div>
